In [4]:
import pandas as pd

actor = pd.read_csv('actor.csv')
cast = pd.read_csv('cast.csv')
director = pd.read_csv('director.csv')
genres = pd.read_csv('genres.csv')
mdir = pd.read_csv('movie_direction.csv')
mgen = pd.read_csv('movie_genres.csv')
movie = pd.read_csv('movie.csv')
ratings = pd.read_csv('ratings.csv')
rev = pd.read_csv('reviewer.csv')

##### Find when the movie 'American Beauty' released. Return movie release year

In [5]:
movie[movie.mov_title == 'American Beauty'][['mov_year']]

    mov_year
13      1999

##### Find those movies, which were released before 1998. Return movie title.

In [6]:
movie[movie.mov_year < 1998][['mov_title']]

                   mov_title
0                    Vertigo
1              The Innocents
2         Lawrence of Arabia
3            The Deer Hunter
4                    Amadeus
5               Blade Runner
7         The Usual Suspects
8                  Chinatown
9              Boogie Nights
10                Annie Hall
11         Princess Mononoke
12  The Shawshank Redemption
14                   Titanic
15         Good Will Hunting
16               Deliverance
17             Trainspotting
21                    Aliens
24             Seven Samurai
26        Back to the Future
27                Braveheart

##### Return all the data of the movies which were released after 1995 and their movie duration was greater than 120

In [7]:
movie[(movie.mov_year>1995)&(movie.mov_time>120)]

,mov_id,mov_title,mov_year,mov_time,mov_lang,mov_dt_rel,mov_rel_country
6,907,Eyes Wide Shut,1999,159,English,NaN,UK
9,910,Boogie Nights,1997,155,English,2/16/1998,UK
11,912,Princess Mononoke,1997,134,Japanese,10/19/2001,UK
13,914,American Beauty,1999,122,English,NaN,UK
14,915,Titanic,1997,194,English,1/23/1998,UK
15,916,Good Will Hunting,1997,126,English,6/3/1998,UK
18,919,The Prestige,2006,130,English,11/10/2006,UK
23,924,Avatar,2009,162,English,12/17/2009,UK
25,927,Spirited Away,2001,125,Japanese,9/12/2003,UK

##### Determine the Top 7 movies which were released in United Kingdom. Sort the data in ascending order of the movie year

In [ ]:
movie[movie.mov_rel_country == 'UK'].sort_values('mov_year').head(7)

##### Set the language of movie language as 'Chinese' for the movie which has its existing language as Japanese and the movie year was 2001

In [45]:
movie.loc[(movie.mov_lang=='Japanese')&(movie.mov_year==2001),['mov_lang']] = 'Chinese'

##### Find name of all the reviewers who rated the movie 'Slumdog Millionaire'

In [ ]:
k = pd.merge(movie,ratings,on='mov_id')
m = pd.merge(k,rev,on='rev_id')
m[m.mov_title=='Slumdog Millionaire'][['rev_name']]

##### Fetch the first name, last name & role played by the actor where output should all exclude Male actors

In [ ]:
a = pd.merge(actor,cast,on='act_id')
a[a.act_gender!='M'][['act_fname','act_lname','role']]

##### Find the actors who played a role in the movie 'Annie Hall'. Fetch all the fields of actor table

In [ ]:
q = pd.merge(actor,cast,on='act_id')
r = pd.merge(q,movie,on='mov_id')
r[r.mov_title=='Annie Hall']

##### Find those movies that have been released in countries other than the United Kingdom. Return movie title, movie year, movie time, and date of release, releasing country

In [ ]:
movie[movie.mov_rel_country!='UK'].drop(columns=['mov_id','mov_lang'])

##### Print genre title, maximum movie duration and the count the number of movies in each genre

In [ ]:
d = pd.merge(genres,mgen,on='gen_id')
e = pd.merge(d,movie,on='mov_id')
f = e.groupby('gen_title').mov_time.max().reset_index()
g = e.gen_title.value_counts().reset_index()
h = pd.merge(f,g,on='gen_title')
h

##### Create a view which should contain the first name, last name, title of the movie & role played by particular actor

In [ ]:
b = pd.merge(actor,cast,on='act_id')
c = pd.merge(b,movie,on='mov_id')
view = c[['act_fname','act_lname','role','mov_title']]
view

##### Find the movies with the lowest ratings

In [1]:
s = pd.merge(movie,ratings,on='mov_id')
t = s[~s.num_o_ratings.isnull()]
u = t[t.num_o_ratings==t.num_o_ratings.min()]
u

NameError: name 'pd' is not defined