In [1]:
import pandas as pd

In [2]:
data = pd.read_csv(r"C:\Users\tharu\Desktop\clinictrial.csv")

In [3]:
data

         Name   BP  Chlstrl  Age Pregnant Anxty_LH Drug_Reaction
0       Jenny  100      150   20       no       no            no
1        Mary  120      160   16       no       no            no
2       Anita  110      150   18       no       no            no
3      Kavita  100      175   25       no       no            no
4       Dolly   95      250   36       no       no            no
5      Rashmi  110      200   56       no      yes            no
6       Aditi  120      180   59       no      yes            no
7     Simaran  150      175   45       no      yes            no
8     Bhavika  160      185   40       no      yes            no
9      Deepti  125      195   20      yes       no            no
10    Reetika  135      190   18      yes       no            no
11       Tina  165      200   25      yes       no            no
12      Meena  145      175   30      yes       no            no
13      Reena  120      180   28      yes       no            no
14    Bhawana  100      180   21      yes       no            no
15   Jennifer  100      160   19      yes       no           yes
16  Kimberley   95      250   18      yes       no           yes
17       Soma  120      200   30      yes       no           yes
18     Aadhya  125      240   29      yes       no           yes
19      Aanya  130      172   30      yes       no           yes
20     Brinda  120      130   35      yes      yes           yes
21     Chhaya  120      140   38      yes      yes           yes
22     Eshika  125      160   32      yes      yes           yes
23        Ela  115      185   40      yes      yes           yes
24      Hiral  150      195   65       no      yes           yes
25     Gulika  130      175   72       no      yes           yes
26      Kalki  170      200   56       no      yes           yes
27     Laasya  145      210   58       no      yes           yes
28     Mihika  180      200   81       no      yes           yes
29       Pihu  140      190   73       no      yes           yes

##### Find the average age

In [ ]:
data.Age.mean()

##### Find the min age

In [ ]:
data.Age.min()

##### Find the max age

In [ ]:
data.Age.max()

##### Find the average age of those who are pregnant and not pregnant

In [ ]:
data.groupby('Pregnant').Age.mean()

##### Find average blood pressure of those had drug reaction and did not had drug reaction

In [ ]:
data.groupby('Drug_Reaction').BP.mean()

##### Add new column name as ‘Age_group’ and those having age between 16 & 21 should be categorized as Low, more than 21 and less than 35 should be categorized as Middle and above 35 should be categorized as High

In [13]:
data['Age_group']=data.Age.apply(lambda x:'High' if x>=35 else 'Middle' if x>=21 else 'Low')

##### Change ‘Age’ of Reetika to 32

In [44]:
data.loc[data.Name == 'Reetika',['Age']]=32

##### Change name of Reena as Shara

In [50]:
data.loc[data.Name == 'Reena',['Name']]='Shara'

##### Remove Chlstrl column

In [54]:
data.drop(columns='Chlstrl',inplace=True)

##### Select only Name, Age and BP

In [ ]:
data[['Name','Age','BP']]

##### Select ladies whose first name starts with ‘E’

In [ ]:
data[data.Name.apply(lambda x: True if x[0]=='E' else False)]

##### Select ladies whose Age_group were Low

In [ ]:
data[data.Age_group == 'Low']

##### Select ladies whose Age_group were High

In [ ]:
data[data.Age_group == 'High']

##### Select ladies whose name starts with ‘A’ and those were pregnant

In [ ]:
data[(data.Name.apply(lambda x: True if x[0]=='A' else False))&(data.Pregnant=='yes')]

##### Identify ladies whose BP was more than 120

In [ ]:
data[data.BP>120]

##### Identify ladies whose BP was between 100 and 120

In [ ]:
data[(data.BP>=100)&(data.BP<=120)]

##### Identify ladies who had low anxiety aged less than 30

In [ ]:
data[(data.Anxty_LH == 'no')&(data.Age<30)]

##### Select ladies whose name ends with 'i'

In [ ]:
data[data.Name.apply(lambda x: True if x[-1]=='i' else False)]

##### Select ladies whose name ends with ‘a’

In [ ]:
data[data.Name.apply(lambda x: True if x[-1]=='a' else False)]

##### Select ladies whose name starts with ‘K’

In [ ]:
data[data.Name.apply(lambda x: True if x[0]=='K' else False)]

##### Select ladies whose name have ‘a’ anywhere

In [ ]:
data[data.Name.apply(lambda x: True if 'a' in x.lower() else False)]

##### Order ladies in ascending way based on ‘BP’

In [ ]:
data.sort_values(by='BP')

##### Order ladies in descending way based on ‘Age’

In [ ]:
data.sort_values(by='Age',ascending=False)